In [1]:
import os
import numpy as np

In [8]:
E_array = []
with open('generation_data/E.dat', 'r') as f:
    for line in f:
        E_array.append([float(x) for x in line.split()])

E_array = np.array(E_array)
E_array.shape

(70, 70)

In [9]:
np.unique(E_array)

array([8.73290e+09, 9.15849e+09, 1.10986e+10, 1.93627e+10, 3.74036e+10])

In [10]:
E_array = np.array([np.unique(line) for line in E_array]).reshape(-1)

In [26]:
layers = []
for i in range(1, len(E_array)):
    if E_array[i] != E_array[i-1]:
        layers.append([10 * i, E_array[i-1]])
layers.append([10 * i, E_array[-1]])

In [27]:
layers

[[160, 8732900000.0],
 [310, 9158490000.0],
 [450, 11098600000.0],
 [590, 19362700000.0],
 [690, 37403600000.0]]

In [28]:
force = []
with open('generation_data/signal.dat', 'r') as f:
    for line in f:
        force.append([float(x) for x in line.split()])

force = np.array(force)
force.shape

(1000, 2)

In [29]:
force

array([[ 0.000000e+00, -1.644413e-04],
       [ 1.000000e-03, -2.204626e-04],
       [ 2.000000e-03, -2.941299e-04],
       ...,
       [ 9.970000e-01,  0.000000e+00],
       [ 9.980000e-01,  0.000000e+00],
       [ 9.990000e-01,  0.000000e+00]])

In [32]:
for i in range(len(force)):
    print('modify table 1 insert row 1')

for i in range(len(force)):
    print(f'modify table 1 cell {i+1} 1 value {force[i, 0]}')
    print(f'modify table 1 cell {i+1} 2 value {10**8 * force[i, 1]}')

modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1
modify table 1 insert row 1